body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: #d4e0ee;
    background-size: cover;
    color: #101010;
}

header {
    background-color: rgba(67, 120, 235, 0.804);
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 3em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav {
    background-color: rgba(151, 184, 255, 0.9);
    padding: 15px;
    box-shadow: 0 4px 8px rgba(138, 73, 73, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: #ffcb05;
    transform: scale(1.1);
}

main {
    padding: 30px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

main h2 {
    font-size: 2.5em;
    font-weight: 600;
}

.profile-image{
    width: 450px;
} 

.responsive-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


footer {
    background-color: rgba(67, 120, 235, 0.804);
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 30px; 
}


footer p {
    margin: 0;
}


